.card-resumen {
    margin-top: 15px;
    background-color: var(--color-card-resumen);
    padding-bottom: 15px;
    padding-top: 0px;
    padding: 0;
}

.card-resumen h3 {
    text-align: left;
    margin: 0 20px 10px 20px;
}

.card-resumen .titulo {
    margin: 0 0 10px 0;
    padding: 5px;
    background-color: var(--color-header);
    color: white;
    font-size: 22px;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
}

img {
    width: 225px;
    height: 201px;
    object-fit: cover;
    margin-bottom: 20px;
}

.input-cantidad {
    font-size: 16px;
    width: 60px;
    height: 25px;
    margin-bottom: 15px;
    text-align: end;
}

.card .btn-compra {
    background-color: var(--color-header);
    font-size: 16px;
    margin-bottom: 20px;
    width: fit-content;
}

.card .btn-compra:hover {
    color: var(--color-hover);
}

h3 span {
    color: var(--color-hover);
    font-style: italic;
}

button.material-symbols-outlined.btn-delete {
    background-color: white;
    color: black;
    width: fit-content;
}

button.material-symbols-outlined.btn-delete:hover {
    color: var(--color-hover);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--color-hover);
}

/* Mobile */
@media only screen and (max-width: 767px) {
    #main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #contenedor {
        padding: 10px 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "main main resumen";
        gap: 10px;
        align-items: start;
        align-content: start;
    }

    #main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
        grid-area: main;
    }

    .card.card-resumen {
        grid-area: resumen;
    }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    #contenedor {
        padding: 10px 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "main main resumen";
        gap: 10px;
        align-items: start;
        align-content: start;
    }

    #main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
        grid-area: main;
    }

    .card.card-resumen {
        grid-area: resumen;
    }

}