/* Mobile */

#main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

img {
    width: 200px;
    /*height: 250px;*/
    object-fit: cover;
}

.input-cantidad {
    font-size: 16px;
    width: 60px;
    height: 25px;
    margin-bottom: 15px;
    text-align: end;
}

/* Tablet 1280px */
@media only screen and (min-width: 1280px) {}

/* Desktop 1366px */
@media only screen and (min-width: 1366px) {}