/* Mobile */

#main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.card-resumen {
    margin-top: 15px;
    background-color: rgb(202, 202, 202);
    padding-bottom: 15px;
    padding-top: 0px;
    padding: 0;
}

.card-resumen h3 {
    text-align: left;
    margin: 0 20px 10px 20px;
}

.card-resumen .titulo {
    margin: 0 0 10px 0;
    padding: 5px;
    background-color: rgb(10, 187, 143);
    color: white;
    font-size: 22px;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
}

img {
    width: 200px;
    /*height: 250px;*/
    object-fit: cover;
}

.input-cantidad {
    font-size: 16px;
    width: 60px;
    height: 25px;
    margin-bottom: 15px;
    text-align: end;
}

.card .btn-compra {
    background-color: rgb(10, 187, 143);
    font-size: 16px;
    margin-bottom: 20px;
    width: fit-content;
    /* padding: auto; */
}

.card .btn-compra:hover {
    color: rgb(252, 64, 158);
}

h3 span {
    color: rgb(252, 64, 158);
    font-style: italic;
}

button.material-symbols-outlined.btn-delete {
    background-color: white;
    color: black;
    width: fit-content;
}

button.material-symbols-outlined.btn-delete:hover {
    color: rgb(252, 64, 158);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(252, 64, 158);
}

/* Tablet 1280px */
@media only screen and (min-width: 1280px) {}

/* Desktop 1366px */
@media only screen and (min-width: 1366px) {}