/* Mobile */

#main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

img {
    width: 225px;
    height: 201px;
    object-fit: cover;
    margin-bottom: 20px;
}

.card {
    height: 420px;
}

.card button {
    width: 80px;
}

/* Tablet 1280px */
@media only screen and (min-width: 1280px) {}

/* Desktop 1366px */
@media only screen and (min-width: 1366px) {}